<div #tableHeaderElement [ngStyle]="headerStyleMap" class="nz-table-hide-scrollbar">
    <table class="table">
        <thead class="z-table-thead" *ngIf="tabletheadTemplate">
            <ng-template [ngTemplateOutlet]="tabletheadTemplate"></ng-template>
        </thead>
    </table>
</div>
<div #tableBodyElement [ngStyle]="bodyStyleMap">
    <table class="table">
        <ng-content></ng-content>
    </table>
</div>
<app-table-pagination [pageData]="tableList" (onChangePage)="goPage($event)"></app-table-pagination>