table {
    min-width: 1500px;
    color: #212529;
    margin-bottom: 0rem;
}

.nz-table-hide-scrollbar {
    scrollbar-color: #fafafa #fafafa
}

.nz-table-hide-scrollbar::-webkit-scrollbar {
    background-color: #fafafa
}

.z-table-thead {
    background-color: #fafafa;
    background-color: #fdfdfe;
}

.z-table-body {
    background-color: green;
}