<app-table [tableList]="tableList" [tableHeader]="tableheader" [zScroll]="{ x: '1200px', y: '240px' }">
    <thead class="thead-light">
        <tr>
            <td colspan="5" style="text-align: center;">总标题
            </td>
        </tr>
        <tr>
            <td width="20% " rowspan="2" style="text-align: center;vertical-align:middle;display:table-cell;"> 功能列 </td>
            <td width="20% "> {{tableheader.name}}</td>
            <td width="20% "> {{tableheader.sex}}</td>
            <td width="20% "> {{tableheader.age}}</td>
            <td width="20% "> 选择器</td>
        </tr>
        <tr>
            <td width="20% "> 写点啥　 </td>
            <td width="20% "> 　写点啥 </td>
            <td width="20% "> 写点啥　 </td>
            <td width="20% "> 写点啥　 </td>
        </tr>
    </thead>
    <tbody>
        <tr class="table-light" *ngFor="let item of tableList; let i = index">
            <td style="width: 5%;">{{i+1}}</td>
            <td style="width: 15%;"><input type="checkbox" class="checkbox"></td>
            <td style="width: 20%;">{{item.name}}</td>
            <td style="width: 20%;">{{item.sex}}</td>
            <td style="width: 20%;">{{item.age}}</td>
            <td style="width: 20%;">
                <button appCheckboxDir checkNum="{{i}}" type="button" class="btn btn-danger btn-sm">
                    删除
                </button>
                <button type="button" class="btn btn-success btn-sm">添加</button>
            </td>
        </tr>
    </tbody>
</app-table>